.container{
    width: 100%;
    height: 100%;
}

.header_container {
    width: 100%;
    height: var(--header-height);
}
.header {
    position: fixed;
    display: flex;
    width: 100%;
    height: var(--header-height);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15%;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    z-index: 1;
    gap: 5%;
}

.header_logo {
    width: 25%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.header_logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}

.header_search{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px
}

.input_search{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--border-color);
}

.header_btn-search{
    border: none;
    background-color: var(--background-color);
    cursor: pointer;
    border-radius: 99px;
    padding: 12px;
    font-size: 16px;
}

.header_btn-search:hover{
    background-color: var(--hover-color);
    color: var(--background-color);
}

.header_account {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_link{
    text-decoration: none;
    color: var(--text-color);
}

.text_link:hover{
    color: var(--hover-color);
}

.sub_header {
    position: fixed;
    display: flex;
    width: 100%;
    top: var(--header-height);
    left: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15%;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 0 10px 0 var(--shadow-color);
}

