.container{
    width: 100%;
    height: 100vh;
}

.container_body{
    width: 100%;
    min-height: 85vh;
    padding: 20px 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box_content{
    width: 100%;
    height: max-content;
}

.box_content > a.show_more{
    display: block;
    text-align: center;
    margin: 20px 0;
}

.box_content > .title {
    margin: 20px 0;
}

.box_content > .content_list{
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 350px;
    gap: 15px;
}

.content_list > .item_list {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 5px 0px var(--shadow-color);
}

.content_list > .item_list > .item_img {
    display: block;
    width: 100%;
    height: 65%;
}

.item_img > img {
    object-fit: fill;
    object-position: center;
}

    .content_list > .item_list > .item_info {
        width: 100%;
        min-height: 35%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 5px 10px;
        flex-shrink: 0;
    }

        .content_list > .item_list > .item_info > .item_info-name {
            height: 42px;
            font-size: 20px;
            font-weight: bold;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            white-space: normal;
            line-height: 1.1;
            overflow: hidden;
            text-align: center;
        }

        .content_list > .item_list > .item_info > .item_info-desc {
            max-width: 100%;
            text-overflow: ellipsis;
        }

        .content_list > .item_list > .item_info > .item_info-rate {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            margin-top: auto;
        }

.item_info-rate > .info_rate-like > i{
    color: red;
}

@media screen and (max-width: 1200px) {
    .box_content > .content_list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .box_content > .content_list {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 768px) {
    .container_body {
        padding: 20px 5%;
    }
}

@media screen and (max-width: 480px) {
    .container_body {
        padding: 20px;
    }
    .box_content > .content_list {
        grid-template-columns: repeat(2, 1fr);
    }
}