.userInfo_container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    gap: 10px;
    --siderBar-width: 300px;
}

.userInfo_container.collapse {
    --siderBar-width: 80px;
}

.siderBar_wrapper{
    width: var(--siderBar-width);
    height: 100%;
    transition: all 0.2s linear;
}

.userInfo_container.collapse .siderBar_body{
    padding: 10px 0;
}

.siderBar_body {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--siderBar-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    transition: all 0.2s linear;
    border-right: 1px solid var(--border-color);
    box-shadow: 0 0 10px 0 var(--shadow-color);
    z-index: 10;
}

.siderBar_logo {
    width: 100%;
    max-height: 20%;
    height: 20%;
    display: flex;
    align-items: center;
}

.siderBar_content{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.siderBar_menu-item{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    cursor: pointer;
}

.userInfo_container.collapse .siderBar_menu-item{
    gap: 0;
}

.siderBar_menu-item:hover, .siderBar_menu-item.active{
    color: white;
    background-color: var(--hover-color);
}

.siderBar_menu-item > *{
    pointer-events: none;
}

.siderBar_menu-item span{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.2s linear;
}


.userInfo_container.collapse .siderBar_menu-item span {
    width: 0;
}

.siderBar_footer {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.userInfo_container-body{
    flex: 1;
    min-height: 90vh;
}

.body_header-title{
    margin: 0 0 10px;
}

.wrapper_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 95vh;
}

.body_header-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body_content-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;  
    list-style: none;
}

.item_list{
    display: flex;
    flex-direction: column;
    position: relative;
}

.time_badge{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: var(--shadow-color);
    backdrop-filter: blur(1px);
    color: white;
    z-index: 3;
}

.item_list-img {
    width: 100%;
    height: 60%;
}

.item_info {
    width: 100%;
    flex: 1;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    flex-shrink: 0;
}

.item_info-name {
    height: 41px;
    font-size: 20px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    line-height: 1.1;
    overflow: hidden;
    text-align: center;
}

.text_link {
    text-decoration: none;
    color: var(--text-color);
}

.text_link:hover {
    color: var(--hover-color);
}

.item_info-desc {
    max-width: 100%;
    text-overflow: ellipsis;
}

.item_info-rate {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.item_info-rate span {
    white-space: nowrap;
}

.item_info-rate > .info_rate-like > i {
    color: red;
}

.body_footer-control{
    margin-top: auto;
}

@media screen and (max-width: 992px) {
    .body_content-list {
        grid-template-columns: repeat(4, 1fr);
    }
    .userInfo_container:not(.collapse) .body_content-list {
        grid-template-columns: repeat(3, 1fr);
    }
} 

@media screen and (max-width: 768px) {
    .userInfo_container {
        --siderBar-width: 200px;
    }

    .body_content-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .userInfo_container:not(.collapse) .body_content-list {
        grid-template-columns: repeat(2, 1fr);
    }
}