<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../style/GlobalStyles.css" rel="stylesheet" />
    <link href="../style/Header.css" rel="stylesheet" />
    <script src="../script/Header.js" defer></script>
    <script src="../script/loading.js" defer></script>
    <link href="../style/DetailPage.css" rel="stylesheet" />
    <script src="../script/handleImgError.js" defer></script>
    <script src="../script/DetailPage.js" defer></script>
</head>
<body>
    <div class="container">
        <header class="header_container">
        </header>
        <div class="container_body">
            <div class="body_header">
                <h2 class="detail_title">Tất cả</h2>
                <select id="select_sort-detailPage" onchange="handleChangeSelectDetailPage(event)">
                    <option value="">Mới nhất</option>
                    <option value="numberLike DESC">Được yêu thích nhất</option>
                    <option value="numberView DESC">Được đọc nhiều nhất</option>
                </select>
            </div>
            <ul id="Details" class="content_list">
            </ul>
            <div class="pagination" id="detailPage_pagination">
            </div>
        </div>
    </div>
</body>
</html>