<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HomePage</title>
    <link rel="stylesheet" href="../style/HomePage.css" />
    <link rel="stylesheet" href="../style/GlobalStyles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../script/HomePage.js" defer></script>
</head>
<body>
    <div class="container">
        <header class="header_container">
            <div class="header">
                <div class="header_logo">
                    <a href="HomePage.html">
                        <img src="https://th.bing.com/th/id/R.02fb9d33fe6274db44d306962b180e8a?rik=%2bsNFNzVh3jxgCQ&riu=http%3a%2f%2fi.desi.vn%2fl%2f2016%2f03%2f34%2f1.png&ehk=paVdyF1tqTwthbQqPtE0gQORb5CLd%2b61NnkeGgCdgz4%3d&risl=&pid=ImgRaw&r=0" title="logo" alt="logo" />
                    </a>
                </div>
                <div class="header_search">
                    <div class="wrapper_search">
                        <input type="text" placeholder="Search..." class="input_search" />
                        <ul class="menu_search">
                            No Data
                        </ul>
                    </div>
                    <button class="header_btn-search btn_icon" type="button" title="Search"><i class="fa fa-search"></i></button>
                </div>
                <div id="userInfo_header" class="header_account">
                    <div class="wrapper_menu">
                        <button class="btn_icon" type="button" title="Notifications"><i class="fa-regular fa-comment"></i></button>
                        <ul class="header_notification">
                            <li class="menu_item">No Notifications</li>
                        </ul>
                    </div>
                    <div class="wrapper_menu">
                        <button class="btn_icon" type="button" title="User"><i class="fa-regular fa-user"></i></button>
                        <ul class="header_menuAccount">
                        </ul>
                    </div>
                </div>
            </div>
            <nav class="sub_header">
                <a href="" class="sub_header-item text_link">Tất cả</a>
                <a href="" class="sub_header-item text_link">HOT</a>
                <a href="" class="sub_header-item text_link">Hành động</a>
                <a href="" class="sub_header-item text_link">Tâm lí</a>
                <a href="" class="sub_header-item text_link">Kịch tính</a>
                <a href="" class="sub_header-item text_link">Tình yêu</a>
                <a href="" class="sub_header-item text_link">Viẽn tưởng</a>
                <a href="" class="sub_header-item text_link">Trẻ em</a>
            </nav>
        </header>
        <div class="container_body">
            <div class="box_content">
                <h2 class="title">Mới nhất</h2>
                <ul id="NEW" class="content_list">
                    
                </ul>
                <a href="" class="text_link show_more">Xem them</a>
            </div>
            <div class="box_content">
                <h2 class="title">Yêu thích nhất</h2>
                <ul id="HOT" class="content_list">
                    
                </ul>
                <a href="" class="text_link show_more">Xem them</a>
            </div>
            <div class="box_content">
                <h2 class="title">Lượt xem nhiều nhất</h2>
                <ul id="VIEW" class="content_list">
                    
                </ul>
                <a href="" class="text_link show_more">Xem them</a>
            </div>
        </div>
    </div>
</body>
</html>