<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HomePage</title>
    <link rel="stylesheet" href="../style/HomePage.css" />
    <link rel="stylesheet" href="../style/GlobalStyles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <header class="header_container">
            <div class="header">
                <div class="header_logo">
                    <a href="HomePage.html">
                        <img src="https://th.bing.com/th/id/R.02fb9d33fe6274db44d306962b180e8a?rik=%2bsNFNzVh3jxgCQ&riu=http%3a%2f%2fi.desi.vn%2fl%2f2016%2f03%2f34%2f1.png&ehk=paVdyF1tqTwthbQqPtE0gQORb5CLd%2b61NnkeGgCdgz4%3d&risl=&pid=ImgRaw&r=0" title="logo" alt="logo" />
                    </a>
                </div>
                <div class="header_search">
                    <input type="text" placeholder="Search..." class="input_search" />
                    <button class="header_btn-search" type="button" title="Search"><i class="fa fa-search"></i></button>
                </div>
                <div class="header_account">
                    <a class="text_link" href="">Đăng nhập</a>/
                    <a class="text_link" href="">Đăng ký</a>
                </div>
            </div>
            <nav class="sub_header">
                <a href="">All</a>
                <a href="">All</a>
                <a href="">All</a>
                <a href="">All</a>
                <a href="">All</a>
                <a href="">All</a>
                <a href="">All</a>
                <a href="">All</a>
            </nav>
        </header>
    </div>
    <script>
        window.onpopstate = (e) => {
            console.log(e)
        }
    </script>
</body>
</html>