v<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HomePage</title>
    <link rel="stylesheet" href="../style/GlobalStyles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../style/HomePage.css" />
    <link rel="stylesheet" href="../style/Header.css" />
    <link rel="stylesheet" href="../style/Footer.css" />
    <script src="../script/loading.js" defer></script>
    <script src="../script/handleImgError.js" defer></script>
    <script src="../script/HomePage.js" defer></script>
    <script src="../script/Header.js" defer></script>
    <script src="../script/handleImgError.js" defer></script>
    <script src="../script/Footer.js" defer></script>
</head>
<body>
    <div class="container">
        <header class="header_container">
            
        </header>
        <div class="container_body">
            <div class="box_content">
                <h2 class="title">Mới nhất</h2>
                <ul id="NEW" class="content_list">
                    
                </ul>
                <a href="/view/DetailPage.html" class="text_link show_more">Xem them</a>
            </div>
            <div class="box_content">
                <h2 class="title">Yêu thích nhất</h2>
                <ul id="HOT" class="content_list">
                    
                </ul>
                <a href="/view/DetailPage.html?sort=numberLike DESC" class="text_link show_more">Xem them</a>
            </div>
            <div class="box_content">
                <h2 class="title">Lượt xem nhiều nhất</h2>
                <ul id="VIEW" class="content_list">
                    
                </ul>
                <a href="/view/DetailPage.html?sort=numberView DESC" class="text_link show_more">Xem them</a>
            </div>
        </div>
        <footer class="footer_container">
            <div class="footer_content">
                <div class="logo_footer">
                    <a href="HomePage.html">
                        <img src="/images/logo.jpg" title="logo" alt="logo" />
                    </a>
                </div>
            </div>
            <div class="footer_signal">
                Design By Thanh Dang
            </div>
        </footer>
    </div>
</body>
</html>