<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Account</title>
    <link rel="stylesheet" href="../style/GlobalStyles.css" />
    <link rel="stylesheet" href="../style/UserAccount.css" />
    <script src="../script/UserAccount.js" defer></script>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper_body">
            <div class="switch_view"></div>
            <div class="body_content">
                <form id="register" method="post" onsubmit="submitForm(event)">
                    <h1 class="content_header">Đăng nhập</h1>
                    <label for="fullname">Name</label>
                    <div class="wrapper_input">
                        <input name="fullname" type="text" title="Vui lòng nhập họ và tên  của bạn" placeholder="Họ và tên" required />
                        <div class="error_info">
                            !
                            <span>Error</span>
                        </div>
                    </div>
                    <label for="birthday">Ngày sinh</label>
                    <div class="wrapper_input">
                        <input name="birthday" type="date" title="Vui lòng chọn ngày sinh của bạn" placeholder="Ngày sinh" required />
                        <div class="error_info">
                            !
                            <span>Error</span>
                        </div>
                    </div>
                    <label for="phone">Phone Number</label>
                    <div class="wrapper_input">
                        <input name="phone" type="text" title="Vui lòng nhập số điện thoại của bạn" placeholder="Phone number" required />
                        <div class="error_info">
                            !
                            <span>Error</span>
                        </div>
                    </div>
                    <label for="username">Email</label>
                    <div class="wrapper_input">
                        <input name="username" type="email" title="Vui lòng nhập Tài khoản của bạn" placeholder="VD: NguyenVanA@gmail.com" required />
                        <div class="error_info">
                            !
                            <span>Error</span>
                        </div>
                    </div>
                    <label for="password">Password</label>
                    <div class="wrapper_input">
                        <input name="password" type="password" title="Vui lòng nhập mật khẩu của bạn" placeholder="Nhập mật khẩu" required />
                        <div class="error_info">
                            !
                            <span>Error</span>
                        </div>
                    </div>
                    <label for="password-check">Re-Password</label>
                    <div class="wrapper_input">
                        <input name="password-check" type="password" title="Vui lòng nhập lại mật khẩu của bạn" placeholder="Nhập lại mật khẩu" required />
                        <div class="error_info">
                            !
                            <span>Error</span>
                        </div>
                    </div>
                    <div class="wrapper_checkbox">
                        <label for="sex">Sex:</label>
                        <div class="checkbox_radio">
                            <input name="sex" type="radio" title="Giới tính" checked value="male" required />
                            <label for="sex">Nam</label>
                        </div>
                        <div class="checkbox_radio">
                            <input name="sex" type="radio" title="Giới tính" value="female" required />
                            <label for="sex">Nữ</label>
                        </div>
                    </div>
                    <button type="submit">Đăng ký</button>
                    <p class="text_link" onclick="toggleAction()">Bạn đã có tài khoản?</p>
                </form>
            </div>
            <div class="body_content">
                <form id="login" name="login" method="post" onsubmit="submitForm(event)">
                    <h1 class="content_header">Đăng nhập</h1>
                    <label for="username">Email</label>
                    <div class="wrapper_input">
                        <input name="username" type="email" title="Vui lòng nhập Tài khoản của bạn" placeholder="VD: NguyenVanA@gmail.com" required />
                        <div class="error_info">
                            !
                            <span>Error</span>
                        </div>
                    </div>
                    <label for="password">Password</label>
                    <div class="input_box">
                        <div class="wrapper_input">
                            <input name="password" type="password" title="Nhập mật khẩu" placeholder="Mật Khẩu" required />
                            <div class="error_info">
                                !
                                <span>Error</span>
                            </div>
                        </div>
                        <p class="text_link" onclick="forgotPassword()">Quên mật khẩu!</p>
                    </div>
                    <button type="submit">Đăng nhập</button>
                    <p class="text_link" onclick="toggleAction()">Bạn chưa có tài khoản?</p>
                </form>
            </div>
            <div id="modal_account" class="modal">
                <div class="overlay" onclick="closeModal(event)"></div>
                <form id="forgotPassword" name="forgot" method="post" onsubmit="forgotPassword(event)">
                    <h1>Quên mật khẩu</h1>
                    <label for="username">Email</label>
                    <div class="wrapper_input">
                        <input name="username" type="email" title="Vui lòng nhập Tài khoản của bạn" placeholder="VD: NguyenVanA@gmail.com" required />
                        <div class="error_info">
                            !
                            <span>Error</span>
                        </div>
                    </div>
                    <button type="submit">Gửi mã xác nhận</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>